/* import font roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
/* import font overpass */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Overpass:wght@300;400&family=Roboto:ital,wght@1,300&display=swap');


/* base classes*/
.font-r{
    font-family: 'Roboto'
}

.font-o{
    font-family: 'Overpass'
}

.base-inline-block{
    display: inline-block;
}


/* other styles */
.container{  /* container for help to keep sturcture  */
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
.header-sizes{
    height: 90px;
}

/* navigation bar content styles */
.navigation-bar-style{
    color: black;
    font-size: 18px;
}

.navigation-bar-style:hover::after{
    content:"";
    display: block;
    width: 42%;
    height: 4px;
    border-radius: 5px;
    background-color: #E93737;   
    
}

.navigation-bar-style:hover{
    color: #E93737;

}
.navigation-bar-style:hover::before{
    content: "";
    display: block;
    width: 42%;
    height: 4px;
}

.nav-content{
    margin-left: 50px;
}


/* logo style */ 
.logo-img{
   vertical-align: middle;
}

/* header link button styles  */
.header-link-button{
    color: white;
    font-size: 14px;
}
.header-link-button:hover{
    font-size: 18px;
}
.header-link-button-container{
    width: 105px;
    height: 39px;
    background-color: #E93737;
    border-radius: 5px;
    vertical-align: middle;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}
.header-link-button-conntent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* header element structure */
.header-flexing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


/* section 1 styles */
.section-1{
    background: linear-gradient(112.82deg, #B53737 0%, #D72626 100%);
    height: 934px;
}

.sec1-div1{
    color: white;
    width: 505px;
    display: inline-block;
}

.sec-1-content-1{
    width: 474px;
    font-size: 50px;
    font-weight: 700px;
    line-height: 63px;
    color: white;
    padding-top: 115px;
    
}

.sec-1-content-2{
    width: 474px;
    font-size: 18px;
    font-weight: 400px;
    line-height: 21px;
    margin-top: 31px;
    margin-bottom: 30px;
}

/* right arrow styles in 1 section 1 div */
.sec-1-long-arrow-right{
    display: block;
    margin-left: 459px;
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-left: 2px solid white;
}
.sec-1-long-arrow-right{
 transform: rotate(135deg);
}
.sec-1-long-arrow-right::after{
    content: "";
    display: block;
    width: 2px;
    height: 474px;
    background-color: white;
    transform: rotate(-45deg) translate(167px, 67px);
  
}
.sec-1-long-arrow-right{
    display: block;
    width: 13px;
    height: 13px;
    border-top: 2px solid white;
    border-left: 2px solid white;
}

/* section 1 star img styles */

.sec-1-star-img-div{
    margin-top: 38px;
}

.sec-1-star-img{
    margin-left: 5.15px;
    width: 19.85;
    height: 18.59;
    margin-bottom: 15px;
}

.sec-1-star-content{
    margin-top: 15px;
}
.sec-1-star-content-style{
    font-weight: bold;
}

/* featured section styles */


.sec-1-featured{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 505px;
    margin-top: 48px;
}


.sec-1-featured-content{
    font-weight: 700px;
    font-size: 20px;

}

.sec-1-featured-divider{
    width: 505px;
    height: 2px;
    background-color: white;
    margin-top: 19px;
    margin-bottom: 22px;
}



.sec-1-featured-img{
    margin-left: 15px;
    vertical-align: middle;
    

}
.sec-1-featired-img-2{
    vertical-align: middle;
    
}


.sec-1-div-2{      
    display: inline-block;
    vertical-align: top;   
}

/* long arrow down in section 1 div 2 */
.sec-1-long-arrow-down{
    display: block;
    margin-left: 427px;
    margin-top: 290px;
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-left: 2px solid white;
}
.sec-1-long-arrow-down{
 transform: rotate(225deg);
}
.sec-1-long-arrow-down::after{
    content: "";
    display: block;
    width: 2px;
    height: 308px;
    background-color: white;
    transform: rotate(-45deg) translate(108.2px, 43px);
  
}
.sec-1-long-arrow-down{
    display: block;
    width: 13px;
    height: 13px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    margin-bottom: 50px;
}

/*link button style section 1 div 2*/
.sec-1-div-2-link-button{
    font-weight: 700;
    color: #E93737;
    font-size: 20px;
    padding: 19px 20px;
    background-color: white;
    border-radius: 5px;
    margin-left: 296px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sec-1-div-2-link-button:hover{
    color: white;
    background-color: #E93737;
}

/* section 1 div 2 creator section style */

.sec-1-div-2-creator-content{
    font-weight: 700;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 32px;
}


.sec-1-div-2-creator-sec-div{
    margin-top: 121px;
    
    margin-left: 125px;
}

.sec-1-div-2-creator-img-bottom-content{
    background-color: white;
    width: 190px;
    height: 53px;
    margin-top: -10px;
    border-radius: 5px;
}
.sec-1-div-2-creator-img-align{
    vertical-align: bottom;
}

.sec-1-div-2-creator-img-bottom-content-txt1{
    font-size: 14px;
    font-weight: bold;
    color: #E93737;
    text-align: center;
    padding-top: 8px;
}
.sec-1-div-2-creator-img-bottom-content-txt2{
    font-size: 11px;
    font-weight: 500;
    color: #E93737;
    text-align: center;
    margin-top: 9px;
}

.sec-1-see-all-link{
   float: right;
   font-size: 14px;
   font-weight: 500;
   color: white;
}
.sec-1-see-all-link-section{
    width: 594px;
    margin-top: 20px;
}
.clear{
    clear: both;
}


/* section 2 styles */

/* youtube frame styles */
.sec-2-youtube{
    width: 525px;
    height: 318px;
}

/* section 2 content header style */

.sec-2-content-div{
    vertical-align: top;
    margin-left: 58px;
}

.sec-2-content-head{
    font-weight: 700;
    font-size: 30px;
    color: #B93B3B;
    ;

}
.sec-2-content{
    width: 515px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    line-height: 21px;
    
}

.sec-2-style{
    margin-top: 135px;
    height: 588px;
}

.sec-2-content-style{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.sec2-link-button{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: white;
    background-color: #E93737;
    padding: 18px 35px;
    border-radius: 5px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sec2-link-button:hover{
    background-color: #B93B3B;

}

.sec-2-link-button-div{
    display: flex;
    justify-content: center;
}

